<div class = "container">
<table class= "table1">
<tr class="tr1">
  <td class="tableleft">
 
  <h2> Welcome to Expense tracking </h2>
  <p>  In addition to tracking time, Timeduty.com also includes a module for
   tracking expenses that helps you keep a track of all your projects 
   expenses effortlessly. The Expense Tracking module helps organize
   business expenses to keep accurate records for budget and
   reimbursement purposes. </p>
  <p></p>
  <p>
   You can do free registration for 30 days to track your expenses online.<br/> 
   For that click here---><%= link_to "Sign up for free", signup_path, class: "btn btn-mini btn-primary" %>
  </p>
  </td>
  <td class= "tableright">
  <h3>Saves time </h3>
  <p>
   Let the users themselves register their expenses online, from anywhere with a browser.
  </p>
  <p></p>
   <h3>Flexible expense types </h3>
  <p>
    Expense types can be created enabling the possibility to categorize expenses.
  </p>
  </td>
</tr>
</table>
</div>
