<div class="center hero-unit">
<h2>Welcome to Expense tracking</h2>

<p>
   In addition to tracking time, Timeduty.com also includes a module for tracking expenses that helps you keep a track of all your   projects expenses effortlessly. The Expense Tracking module helps organize business expenses to keep accurate records for budget and reimbursement purposes.
</p>

<p>
You can do free registration for 30 days to track your expenses online. For that click here---><%= link_to "Sign up for free", '#', class: "btn btn-large btn-primary" %>
</p>
</div>


