// Place all the styles related to the Quantities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main { 

     width: 99.5%;
    }

.quantities {
     width: 100%;
     padding-right: -40px;

   tr {
      text-align: left;
      color: white;
      background-color: #660000;
      font-size: 1em;
   }

   h1 { 
    text-align:center;
    font-size: 2.6em;
    margin: 0.67em 0;
    font-family: sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px #3366CC;
  }
 
 table, td, th {
     border:1px solid black; 
     padding: 0px;
   }

  table tr td {
  cellpadding: 2px;
  vertical-align: top;
  padding: -5px;
  
  }

  .list_description {
       width: 100%;
       margin-left: 20px;
       padding: 0px;
     

     dl {
       margin-left: 10px;
     }

     dt {
       
       font-weight:Sans-serif;
       font-size:medium;
       color: #6666FF;
        margin-left: 10px;
    }
 }

  .list_actions {
    font-size: x-small;
    text-align: right;
    padding-left: 1em;
    font-family: sans-serif;
    color: black;
  }

  .list_line_even { 
    background: #C7A4BD;
   }
 
   .list_line_odd {
     background: #C6C3CE;
   }
  
   .date { 
     color: white;
     background-color: #555;
     font-size: 1.5em;
     }
   
   .list { 
     color: black;
     background-color: #D4D4D4;
     font-size: 1.5em; 
    }

    .field { 
       width: 25%;
      .datepicker { 
         width: 98%;
        }
      }

     .backto { 
      color: black;
     }
    }

 .datepicker { 
       width: 25%;
       }

  .navbar { 
      width: 100%;

  .container2 {
     padding-bottom: 40px;
     padding-right: 0.75em;
   
   
    .text-center { 
      text-align: center;
      widht: 50%;
      font-size: 30px;
      color: white;
     }
   }
 }

  
