// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar1 { 
      width: 96.20%;
      padding-top: 1px;
       }
  .container2 {
     padding-bottom: 40px;
     padding-right: 0.75em;
   
     }
   


