<h2>Reports on expense with different ways</h2>


<ul>
<li><a href="http://expense-management-app.herokuapp.com/quantities/withdatetime">Date and Time wise report on Expense</a></li>
<li><a href="http://expense-management-app.herokuapp.com/quantities/daywisereport">Day wise report on expense</a></li>
<li><a href="http://expense-management-app.herokuapp.com/quantities/monthwisereport">Month wise Report on expense</a></li>
<li><a href="http://expense-management-app.herokuapp.com/quantities/yearwisereport">Year wise Report on expense</a></li>
</ul>

