<footer class="footer"> 

  <ul>
    <li><a href="http://timesofindia.indiatimes.com/life-style/relationships/work/Manage-your-money-smartly
articleshow/12729326.cms">Help & Support</a></li>
    <li><a href="http://www.homemoneymanager.com/aboutus.html">About Us</a></li>
    <li><a href="http://www.homemoneymanager.com/contactus.html">Contact Us</a></li>
    <li><a href="http://expense-management-app.herokuapp.com/store/report">Report</a></li>
  </ul>

</footer>
